/* Custom CSS */

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}


.w-1r {width: 1rem;}
.h-1r {height: 1rem;}

.w-2r {width: 2rem;}
.h-2r {height: 2rem;}

.w-3r {width: 3rem;}
.h-3r {height: 3rem;}

.w-4r {width: 4rem;}
.h-4r {height: 4rem;}

.w-5r {width: 5rem;}
.h-5r {height: 5rem;}

.w-6r {width: 6em;}
.h-6r {height: 6rem;}

.w-7r {width: 7rem;}
.h-7r {height: 7rem;}

.w-8r {width: 8rem;}
.h-9r {height: 9rem;}

.w-10r {width: 10rem;}
.h-10r {height: 10rem;}

.w-25p {width: 25px}
.h-25p {height: 25px}

.w-50p {width: 50px}
.h-50p {height: 50px}

.w-75p {width: 75px}
.h-75p {height: 75px}

.w-100p {width: 100px}
.h-100p {height: 100px}

.w-200p {width: 200px}
.h-200p {height: 200px}

.w-300p {width: 300px}
.h-300p {height: 300px}

.w-400p {width: 400px}
.h-400p {height: 400px}

.w-500p {width: 500px}
.h-500p {height: 500px}




.klib
.kem-logo-icon-box, .klib {
	width: 2em;
	height: 2em;
	background-color: #ff19a7;
}






.mt-10 {
	margin-top: 10px;
}
	
.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	padding-bottom: 20px;
}



.pt-10 {
	padding-top: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}




.sky-gradient {
  background: -webkit-gradient(linear,left top,right top,from(#0acffe),to(#495aff));
  background: -webkit-linear-gradient(left,#0acffe 0,#495aff 100%);
  background: -o-linear-gradient(left,#0acffe 0,#495aff 100%);
  background: linear-gradient(to right,#0acffe 0,#495aff 100%)
}







.bd-alpha {
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgb(0, 0, 0, 1); }