/* Custom CSS */

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}



.w-1r {width: 1rem;}
.h-1r {height: 1rem;}

.w-2r {width: 2rem;}
.h-2r {height: 2rem;}

.w-3r {width: 3rem;}
.h-3r {height: 3rem;}

.w-4r {width: 4rem;}
.h-4r {height: 4rem;}



.klib
.kem-logo-icon-box, .klib {
	width: 2em;
	height: 2em;
	background-color: #ff19a7;
}






.mt-10 {
	margin-top: 10px;
}
	
.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	padding-bottom: 20px;
}



.pt-10 {
	padding-top: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

